# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / package
build/
dist/
sdist/
*.eggs-info/
*.egg-info/

# pycharm stuff
.idea/

# jupyter notebook stuff
*.ipynb
.ipynb_checkpoints/

# vscode stuff
.vscode/

# etcd stuff
default.etcd/
